<div class="card shadow">
  <div class="card bg-secondary m-20">
    <div class="m-20">
      <h1>Profile Detail</h1>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4">
              <label>Prefix</label>
            </div>
            <div class="col-lg-8">
              <label class="form-control-label">{{userInfo?.prefix}}</label>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-lg-4">
              <label>First Name</label>
            </div>
            <div class="col-lg-8">
              <label class="form-control-label">{{userInfo?.first_name}}</label>
            </div>
          </div>
          <hr />

          <div class="row">
            <div class="col-lg-4">
              <label>Last Name</label>
            </div>
            <div class="col-lg-8">
              <label class="form-control-label">{{userInfo?.last_name}}</label>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-lg-4">
              <label>Suffix</label>
            </div>
            <div class="col-lg-8">
              <label class="form-control-label">{{userInfo?.suffix}}</label>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-lg-4">
              <label>Loyalty Memeber ID</label>
            </div>
            <div class="col-lg-8">
              <label class="form-control-label">{{userInfo?.loyalty_member_id}}</label>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-lg-4">
              <label>Phone</label>
            </div>
            <div class="col-lg-8">
              <label class="form-control-label">{{userInfo?.phone }}</label>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-lg-4">
              <label>Address</label>
            </div>
            <div class="col-lg-8">
              <label class="form-control-label">{{userInfo?.address}}</label>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-lg-4">
              <label>Birthdate</label>
            </div>
            <div class="col-lg-8">
              <label class="form-control-label">{{userInfo?.birthdate | date:'yyyy-mm-dd'}}</label>
            </div>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>

</div>
