<div class="card-header border-0 pb-0 ">
  <h1>Quick Facts</h1>
</div>
<div class="card-body pt-0 ">
  <div class="row">
    <div class="col-md-10 col-sm-10">
      <label>Status</label>
    </div>
    <div class="col-md-2 col-sm-2">
      <mat-icon>open_in_new</mat-icon>
    </div>
  </div>
  <hr />
  <div>
    <table>
      <tr>
        <td>
          <mat-icon>account_box</mat-icon>
        </td>
        <td>ID: SH051545</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Tier: Gold</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Pts: 125,024</td>
      </tr>
    </table>
  </div>
  <br />

  <div class="row">
    <div class="col-md-10 col-sm-10">
      <label>Top 3 Facts</label>
    </div>
    <div class="col-md-2 col-sm-2">
      <mat-icon>open_in_new</mat-icon>
    </div>
  </div>
  <hr />
  <div>
    <table>
      <tr>
        <td>
          <mat-icon>info</mat-icon>
        </td>
        <td>Suite Room</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>King Bed</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Highest Floor</td>
      </tr>
    </table>
  </div>
  <br />

  <div class="row">
    <div class="col-md-10 col-sm-10">
      <label>RFM Score</label>
    </div>
    <div class="col-md-2 col-sm-2">
      <mat-icon>open_in_new</mat-icon>
    </div>
  </div>
  <hr />
  <table>
    <tr>
      <td>
        <mat-icon>info</mat-icon>
      </td>
      <td>R: 70%</td>
      <td>F: 50%</td>
      <td>M: 90%</td>
    </tr>
  </table>
  <div class="row">
    <div class="col-md-10 col-sm-10">
      <label>Other Facts:</label>
    </div>
    <div class="col-md-2 col-sm-2">
      <mat-icon>open_in_new</mat-icon>
    </div>
  </div>
  <hr />
  <table>
    <tr>
      <td>
        <mat-icon>calendar_today</mat-icon>
      </td>
      <td>Total Stays:</td>
      <td>24</td>
    </tr>
    <tr>
      <td>
        <mat-icon>brightness_2</mat-icon>
      </td>
      <td>Nights:</td>
      <td>32</td>
    </tr>
    <tr>
      <td>
        <mat-icon> hotel</mat-icon>
      </td>
      <td>Avg Stay:</td>
      <td>1.33 nights</td>
    </tr>
    <tr>
      <td>
        <mat-icon>today</mat-icon>
      </td>
      <td>Last Visit:</td>
      <td>2018-08-15</td>
    </tr>
    <tr>
      <td>
        <mat-icon> local_atm</mat-icon>
      </td>
      <td>Lifetime Value:</td>
      <td>$3084.29</td>
    </tr>
  </table>
</div>
