<app-page-banner [initailTemplate]="userProfileInfo"></app-page-banner>
<ng-template #userProfileInfo>
  <div class="col-md-12 container-fluid">
    <div class="col-lg-12 col-md-12">
      <span class="title-font text-white">{{title}} <img class="card-profile-image profile-img-circle"
          src="{{user?.photo}}" />{{user?.first_name}} {{user?.last_name}}</span>

    </div>

  </div>

</ng-template>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-1 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="card-header border-0 pb-0 ">Quick Facts</div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">Status
              <hr />
            </div>

          </div>
          <div class="text-center">
            <table>
              <tr>

                <td>ID: SH051545</td>
                <td>24</td>

              </tr>
              <tr>
                <td>ID: SH051545</td>
                <td>32</td>
              </tr>
              <tr>
                <td>Tier: Gold</td>
                <td>1</td>
              </tr>
              <tr>
                <td>Pts: 125,024</td>
                <td>1</td>
              </tr>
            </table>
          </div>
          <div class="row">
            <div class="col">
              <div>
                Top 3 Facts
                <hr />

              </div>
              <div class="text-center">
                <table>
                  <tr>

                    <td>ID: SH051545</td>
                    <td>24</td>

                  </tr>
                  <tr>
                    <td>ID: SH051545</td>
                    <td>32</td>
                  </tr>
                  <tr>
                    <td>Tier: Gold</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>Pts: 125,024</td>
                    <td>1</td>
                  </tr>
                </table>
              </div>
            </div>


          </div>

          <div class="row">
            <div class="col">
              <div>
                RFM Score
                <hr />

              </div>
            </div>


          </div>

          <div class="row">
            <div class="col">
              <div>
                Other Facts:
                <hr />

              </div>
            </div>
          </div>
          <div>
            <table>
              <tr>

                <td>Total Stays:</td>
                <td>24</td>
                <td>$30.02</td>
              </tr>
              <tr>
                <td>Nights:</td>
                <td>32</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Introducing HTML5 by Bruce Lawson &#38; Remy Sharp</td>
                <td>Out of Stock</td>
                <td>1</td>
                <td>$22.23</td>
              </tr>
              <tr>
                <td>Bulletproof Web Design by Dan Cederholm</td>
                <td>In Stock</td>
                <td>1</td>
                <td>$30.17</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-2">
      <mat-tab-group mat-align-tabs="start">
        <mat-tab label="First">
          <ng-template matTabContent>
            Content 1 - Loaded: {{getTimeLoaded(1) | date:'medium'}}

          </ng-template>
        </mat-tab>
        <mat-tab label="Second">
          <ng-template matTabContent>
            Content 2 - Loaded: {{getTimeLoaded(2) | date:'medium'}}
          </ng-template>
        </mat-tab>
        <mat-tab label="Third">
          <ng-template matTabContent>
            Content 3 - Loaded: {{getTimeLoaded(3) | date:'medium'}}
          </ng-template>
        </mat-tab>
      </mat-tab-group>
      <!-- <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">My account</h3>
            </div>
            <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-primary">Settings</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group focused">
                    <label class="form-control-label" for="input-username">Username</label>
                    <input type="text" id="input-username" class="form-control form-control-alternative"
                      placeholder="Username" value="lucky.jesse">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email address</label>
                    <input type="email" id="input-email" class="form-control form-control-alternative"
                      placeholder="jesse@example.com">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group focused">
                    <label class="form-control-label" for="input-first-name">First name</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative"
                      placeholder="First name" value="Lucky">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group focused">
                    <label class="form-control-label" for="input-last-name">Last name</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative"
                      placeholder="Last name" value="Jesse">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4">
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group focused">
                    <label class="form-control-label" for="input-address">Address</label>
                    <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address"
                      value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group focused">
                    <label class="form-control-label" for="input-city">City</label>
                    <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="City"
                      value="New York">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group focused">
                    <label class="form-control-label" for="input-country">Country</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative"
                      placeholder="Country" value="United States">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Postal code</label>
                    <input type="number" id="input-postal-code" class="form-control form-control-alternative"
                      placeholder="Postal code">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4">
            <h6 class="heading-small text-muted mb-4">About me</h6>
            <div class="pl-lg-4">
              <div class="form-group focused">
                <label>About Me</label>
                <textarea rows="4" class="form-control form-control-alternative"
                  placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
              </div>
            </div>
          </form>
        </div>
      </div> -->
    </div>
  </div>
</div>
