<app-page-banner [initailTemplate]="userProfileInfo"></app-page-banner>
<ng-template #userProfileInfo>
  <div class="col-md-12 container-fluid">
    <div class="col-lg-12 col-md-12">
      <span class="title-font text-white">{{title}} <img class="card-profile-image profile-img-circle"
          src="{{user?.photo}}" />{{user?.first_name}} {{user?.last_name}}</span>
    </div>
  </div>
</ng-template>

<app-progress-spinner [isVisible]="isLoading"></app-progress-spinner>

<div class="container-fluid mt--7" *ngIf="!isLoading">
  <div class="row">
    <div class="col-xl-4 order-xl-1 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <app-user-profile-facts [userInfo]="user"></app-user-profile-facts>
      </div>
    </div>
    <div class="col-xl-8 order-xl-2">
      <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Profile Detail">
          <ng-template matTabContent>
            <app-user-profile-details [userInfo]="user"></app-user-profile-details>
          </ng-template>
        </mat-tab>
        <mat-tab label="Profile ID's">
          <ng-template matTabContent>
            <app-user-profile-id [userInfo]="user"></app-user-profile-id>
          </ng-template>
        </mat-tab>
        <mat-tab label="Activity Timeline">
          <ng-template matTabContent>
            <app-user-profile-activity [userInfo]="user"></app-user-profile-activity>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
